@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
	/* Colors */

	/* Primary */

	--primary-light-red: 0, 100%, 67%;
	--primary-orangey-yellow: 39, 100%, 56%;
	--primary-green-teal: 166, 100%, 37%;
	--primary-cobalt-blue: 234, 85%, 45%;

	/* Gradients */
	--bg-light-slate-blue: 252, 100%, 67%;
	--bg-light-royal-blue: 241, 81%, 54%;
	--bg-violet-blue: 256, 72%, 46%, 1;
	--bg-persian-blue: 241, 72%, 46%, 0;

	/* Neutral */

	--neutral-white: 0, 0%, 100%;
	--neutral-pale-blue: 221, 100%, 96%;
	--neutral-light-lavender: 241, 100%, 89%;
	--neutral-dark-gray-blue: 224, 30%, 27%;

	/* Primary */

	--light-red: hsl(var(--primary-light-red));
	--orangey-yellow: hsl(var(--primary-light-red));
	--green-teal: hsl(var(--primary-light-red));
	--cobalt-blue: hsl(var(--primary-light-red));

	/* Gradients */
	--light-slate-blue: hsl(var(--bg-light-slate-blue));
	--light-royal-blue: hsl(var(--bg-light-royal-blue));
	--violet-blue: hsl(var(--bg-violet-blue));
	--persian-blue: hsl(var(--bg-persian-blue));

	/* Neutral */

	--white: hsl(var(--neutral-white));
	--pale-blue: hsl(var(--neutral-pale-blue));
	--light-lavender: hsl(var(--neutral-light-lavender));
	--dark-gray-blue: hsl(var(--neutral-dark-gray-blue));

	/* gradient */
	--gradient-primary: linear-gradient(
		var(--light-slate-blue),
		var(--light-royal-blue)
	);

	--gradient-to-transparent: linear-gradient(
		var(--violet-blue),
		var(--persian-blue)
	);

	/* fonts sizes and family */
	--fw-regular: 500;
	--fw-bold: 700;
	--fw-black: 800;

	--fs-300: 1rem;
	--fs-400: 1.125rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 1.75rem;
	--fs-800: 3rem;
	--fs-900: 5rem;

	--ff-hanken-Grotesk: "Hanken Grotesk", sans-serif;
}

/*--------------------------*/
/*  Reset                   */
/*--------------------------*/

/*Box sizing    */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

/*Reset margin  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture,
p {
	margin: 0;
}

/*set init font weight  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* make images easier to work with  */

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* set up the body  */

body {
	font-family: var(--ff-hanken-Grotesk);
	font-size: var(--fs-500);
	color: var(--dark-gray-blue);
}

.flex {
	display: flex;
	align-items: center;
}
.flex-gap {
	gap: var(--flex-gap, 1rem);
}

.flex-space-bw-center {
	justify-content: space-between;
	align-items: center;
}

.flex-flow {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*--------------------------*/
/*  Utility classess        */
/*--------------------------*/

/* typography */

.fs-500 {
	font-size: var(--fs-500);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-800 {
	font-size: var(--fs-800);
}
.text-center {
	text-align: center;
}
.border-radius {
	border-radius: var(--radius, 1.3rem);
}

.margin-block {
	margin-block: 1.5rem;
}

/* design component */

.main-component {
	width: 45rem;
	border-radius: 2rem;
	margin: 2rem;
	box-shadow: 0.5rem 1rem 3rem hsl(var(--neutral-dark-gray-blue), 0.2);
}

.result-section {
	flex-basis: 100%;
	background: var(--gradient-primary);
	padding: 2.5rem;
	color: hsl(var(--neutral-white));
	border-radius: 2rem;
}
.summary-section {
	flex-basis: 100%;
	padding: 2.5rem;
	padding-left: 2rem;
}
.result-title,
.summary-title {
	font-weight: var(--fw-bold);
	font-size: var(--fs-500);
	margin-bottom: 1rem;
	color: var(--light-lavender);
}

.circle {
	background: var(--gradient-to-transparent);
	border-radius: 50%;
	aspect-ratio: 1/1;
	width: 12rem;
	margin-bottom: 1rem;
	color: var(--light-lavender);
}
.circle h2 {
	font-size: var(--fs-900);
	font-weight: var(--fw-black);
	line-height: 1em;
	color: hsl(var(--neutral-white));
}
.circle p {
	padding-top: 0.5rem;
}
.greeting {
	font-size: var(--fs-600);
	font-weight: var(--fw-bold);
}

.result-status {
	color: var(--light-lavender);
	font-size: var(--fs-400);
	width: 85%;
	text-align: center;
}
.button {
	background: var(--dark-gray-blue);
	color: var(--white);
	padding: 1rem 2rem;
	border: 0;
	border-radius: 100vw;
	line-height: 1;
	cursor: pointer;
	width: 100%;
	margin-top: 1.5rem;
	font-size: var(--fs-400);
}

.button:hover {
	background: var(--gradient-primary);
}

.summary-title {
	color: var(--dark-gray-blue);
}

.summary-row {
	width: 100%;
	padding: 1rem;
	background-color: hsl(var(--item-color), 0.1);
	border-radius: 0.5rem;
	color: hsl(var(--item-color));
	font-size: var(--fs-400);
	--flex-gap: 0.7rem;
}

.summary-row-title {
	color: hsl(var(--item-color));
	font-weight: var(--fw-bold);
	font-size: var(--fs-400);
}

.summary-row svg {
	stroke: hsl(var(--item-color));
}

.summary-row[data-item-type="light-red"] {
	--item-color: var(--primary-light-red);
}
.summary-row[data-item-type="orangey-yellow"] {
	--item-color: var(--primary-orangey-yellow);
}
.summary-row[data-item-type="green-teal"] {
	--item-color: var(--primary-green-teal);
}
.summary-row[data-item-type="cobalt-blue"] {
	--item-color: var(--primary-cobalt-blue);
}
.padding-inline {
	padding-inline: 1rem;
}
.summary-score {
	font-weight: var(--fw-black);
	color: hsl(var(--neutral-dark-gray-blue), 0.5);
}

.summary-score span {
	color: var(--dark-gray-blue);
}

@media only screen and (max-width: 650px) {
	.main-component {
		flex-direction: column;
		width: 100vw;
		border-radius: 0 0 2rem 2rem;
		box-shadow: none;
		height: 100%;
	}
	.result-section {
		border-radius: 0 0 2rem 2rem;
	}

	.circle {
		width: 10rem;
	}

	.circle h2 {
		font-size: var(--fs-800);
	}

	.summary-section {
		width: 100vw;
	}

	.summary-row {
		padding-block: 1.5rem;
	}
	.result-section {
		height: auto;
	}
}
